.header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px -15px var(--navy-shadow);
    font-size: var(--fs-s);
    font-weight: 300;
    z-index: 999;
}

.logo-link {
    margin-left: var(--m-l);

    .logo {
        height: 75px;
    }
}

.link-menu {
    height: 100px;
    color: var(--mint);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: var(--m-r);
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none
        }
    }
}


.menu-text {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.menu-sub-text {
    margin-left: 3px;
    color: var(--lightest-slate);

    &:hover {
        color: var(--mint);
    }
}

.resume {
    margin-left: var(--m-10);
    padding: 10px;

    @media (max-width: 1000px) {
        display: none;
    }
}

.mb-menu-btn {
    height: 0px;
    margin-left: var(--m-25);

    @media (min-width: 1000px) {
        display: none;
    }
}

/*MB DEVICE*/

.mb-menu {
    z-index: 999;
    margin-left: var(--m-l);
    margin-right: var(--m-r);
    height: 260px;
    width: fit-content;
    box-shadow: 0 5px 15px -15px var(--navy-shadow);
}

.active {
    position: absolute;
    right: 0;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    top: 100px;
    
    
    z-index: 999;
    background-color: var(--navy);
    @media (min-width: 1000px) {
        display: none !important;
    }
}

.mb-menu-text {
    margin-bottom: var(--m-10);
    width: 100%;
}

.mb-menu-ul {
    background-color: var(--navy);
    display: flex !important;
    align-items: flex-end;
    flex-direction: column;
    list-style: none;

}

.mb-menu-text {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--mint);

    &:hover {
        cursor: pointer;
    }
}

.mb-menu-sub-text {
    margin-left: 3px;
    color: var(--lightest-slate) !important;
}

.mb-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &:hover {
        cursor: default;
    }
}

.social-logo {
    height: 50px;
    width: 60px;

    &:hover {
        cursor: pointer;
    }
}


















/*MB DEVICE*/

#menu_checkbox {
    outline: none;
    display: none;
}

label {
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    transition: 0.3s ease transform;
    display: block;
    cursor: pointer;
}

label div {
    width: 4px;
    height: 4px;
    background-color: var(--light-slate);
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
    outline: none;
    transition: 0.3s ease width,
        0.3s ease margin-left,
        0.3s ease margin-bottom,
        0.3s ease background-color;
}

label div:first-child {
    width: 22px;
}

label div:nth-child(2) {
    width: 15px;
}

label div:last-child {
    width: 30px;
    margin-bottom: 0;
}

#menu_checkbox:checked+label {
    transform: translateY(-50%) rotateZ(-90deg);
}

#menu_checkbox:checked+label div {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: var(--mint);
}