<div id="about-me" class="about-me">
    <div class="headline head-link">
        <p class="number">01.</p>
        <p class="headline-text">About Me</p>
        <div class="horizontal-line-resp">
            <div></div>
            <div class="horizontal-line"></div>
        </div>
    </div>

    <div class="hi">
        <p class="description">Hello! My name is <span>Jahleel</span>!
            <br>
            <br>I enjoy creating things, which are live on the internet. My interest in web development started back in
            2020, two years later - 2022, I decided to quit my job as a chef for coding.
        </p>
        
        <p class="description text-right">I am looking forward to continuing my developer career with a job <br> in a <span>junior web developer </span> position.</p>
        <p class="description">Here are a few technologies I’ve been <br> recently working with:</p>

        <div class="skill-container">
            <ul class="skill-list-left">
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>React</li>
            </ul>
            <ul class="skill-list-right">
                <li>Node.js</li>
                <li>WordPress</li>
            </ul>
        </div>
    </div>
</div>