.about-me {
    margin-left: var(--m-l);
    margin-right: var(--m-r);
}

.about-me-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hi {
    max-width: 60%;
    @media (max-width: 420px) {
        min-width: 100% !important;
    }
}

.description {
    font-size: var(--fs-m);
    margin-bottom: var(--m-25);
    color: var(--slate);

    span {
        color: var(--mint);
    }
}


.skill-container {
    margin-left: var(--m-25);
    display: flex;
    width: fit-content;
}

.skill-list-left {
    color: var(--slate);
    font-size: var(--fs-s);
    font-weight: 300;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;

    li {
        margin: 10px 35px 0px;
        gap: 0px 10px;
        display: grid;
        list-style: none;
    }

    li::before {
        content: "▹";
        position: absolute;
        left: 0;
        color: var(--mint);
        font-size: var(--fs-s);
        line-height: 14px;
    }
}

.skill-list-right {
    color: var(--slate);
    font-size: var(--fs-s);
    font-weight: 300;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;

    li {
        margin: 10px 35px 0px;
        gap: 0px 10px;
        display: grid;
        list-style: none;
    }

    li::before {
        content: "▹";
        position: absolute;
        color: var(--mint);
        font-size: var(--fs-s);
        line-height: 14px;
        left: 0;
    }
}

.picture-container {
    height: 400px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.picture {
    height: 400px;
    width: 250px;
    border: 3px solid var(--mint);
    border-radius: 5px;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--navy);
    opacity: 0.35;
    border-radius: 5px;
    &:hover{
        opacity: 0;
    }
}

@media (max-width: 1000px) {
        .about-me-description{
            flex-direction: column;
        }
        .picture-container{
            margin-top: var(--m-50);
        }
        .skill-container{
            flex-direction: column;
        }
}