.learnflow {
    height: fit-content;
    margin-left: var(--m-l);
    margin-right: var(--m-r);
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    margin-bottom: 50px;

}


.skill-icon {
    width: 160px;
    margin-top: var(--m-100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 40px;

    }

    p {
        font-weight: 200;
        color: var(--slate);
        margin-top: var(--m-10);
    }

    &:hover {
        transform: scale(1.08);
    }
}

// @media (max-width: 1000px) {
//      .skill-icon{
//         width: 160px;
//      }
// }

// @media (max-width: 533px) {
//      .skill-icon{
//         width: 160px;
//      }
// }

