<div id="learnflow" class="learnflow">
    <div class="headline head-link">
        <p class="number">02.</p>
        <p class="headline-text">Learnflow</p>
        <div class="horizontal-line-resp">
            <div></div>
            <div class="horizontal-line"></div>
        </div>
    </div>
    <div class="skills">
        <div class="row-1"></div>
        <div class="row-2"></div>
        <div class="row-3"></div>
        <div class="row-4"></div>
        <div class="skill-icon">
            <img src="/assets/icons/html.png">
            <p>Html</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/css.png">
            <p>Css</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/Javascript.png">
            <p>Javascript</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/Angular.png">
            <p>Angular</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/scrum.png">
            <p>Scrum</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/typescript.png">
            <p>Typescript</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/api.png">
            <p>Api</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/node1.png">
            <p>Node.js</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/material-design.png">
            <p>Material Design</p>
        </div>
        <div class="skill-icon">
            <img src="/assets/icons/git.png">
            <p>Git</p>
        </div>
    </div>
</div>