<div id="projects" class="projects">
    <div class="headline head-link">
        <p class="number">03.</p>
        <p class="headline-text">My Projects</p>
        <div class="horizontal-line-resp">
            <div></div>
            <div class="horizontal-line"></div>
        </div>
    </div>
    <!--JOIN-->
    <div class="project-template">
        <div class="projet-description-left">
            <p class="featured-project">Featured project</p>
            <h3>Join</h3>
            <p class="description-text">Task manager inspired by the Kanban System. Create and organize tasks using drag
                and drop functions, assign users and categories.</p>
            <ul class="mechanics-left">
                <li>Angular</li>
                <li>Typescript</li>
                <li>Firebase</li>
                <li>Html</li>
                <li>Css</li>
            </ul>
            <a href="https://github.com/Sneakz96/JOIN" target="_blank"><img src="/assets/icons/icon github/icon-3.png"
                    class="git"></a>
        </div>
        <div class="project-container">
            <img class="project-picture" src="/assets/img/joins.png">
            <div class="overlay"></div>
        </div>
    </div>
    <!--EL POLLO LOCO-->
    <div class="project-template">
        <div class="project-container">
            <img class="project-picture" src="/assets/img/epl.png">
            <div class="overlay"></div>
        </div>
        <div class="projet-description">
            <p class="featured-project-epl">Featured project</p>
            <h3>El Pollo Loco</h3>
            <p class="description-text">Jump, run and throw game based on
                <br> object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.
            </p>
            <ul class="mechanics">
                <li>Javascript</li>
                <li>Html</li>
                <li>Css</li>
            </ul>
            <a href="https://github.com/Sneakz96/ElPolloLoco" target="_blank"><img
                    src="/assets/icons/icon github/icon-3.png" class="git"></a>
        </div>
    </div>

    <!--POKEDEX-->
    <div class="project-template">
        <div class="projet-description-left">
            <p class="featured-project">Featured project</p>
            <h3>Pokédex</h3>
            <p class="description-text">Based on the PokéAPI a simple library that provides and catalogues pokemon
                information.</p>
            <ul class="mechanics-left">
                <li>Javascript</li>
                <li>Html</li>
                <li>Css</li>
                <li>Api</li>
            </ul>
            <a href="https://github.com/Sneakz96/My.Pokedex" target="_blank"><img
                    src="/assets/icons/icon github/icon-3.png" class="git"></a>
        </div>
        <div class="project-container">
            <img class="project-picture" src="/assets/img/pokedex.png">
            <div class="overlay"></div>
        </div>
    </div>
</div>