.projects {
    min-height: 100vh;
    position: relative;
    margin-left: var(--m-l);
    margin-right: var(--m-r);
    z-index: 5;
}

.project-template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--m-100);
    width: 100%;
}

.project-container {
    height: 250px;
    position: relative;
    width: 400px;
    margin: 3px;

    :hover {
        opacity: 0;
    }
}

.flow {
    margin-left: var(--m-25);
}

.overlay {
    position: absolute;
    height: 100%;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: -3px;
    z-index: 2;
    background-color: var(--navy);
    opacity: 0.35;
}

.project-picture {
    position: relative;
    border: 3px solid var(--mint);
    border-radius: 5px;
    height: 250px;
    width: 400px;
    object-fit: cover;
}

.join{
    object-fit: fill;
}
//FLOAT RIGHT

.projet-description {
    box-sizing: inherit;
    display: block;
    text-align: right;
}

.featured-project {
    font-weight: 300;
    margin-bottom: 5px;
    color: var(--mint);
}

.featured-project-epl {
    font-weight: 300;
    margin-bottom: 5px;
    color: var(--mint);
}

h3 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: var(--fs-hl);
    color: var(--light-slate);
}

.description-text {
    font-weight: 200;
    color: var(--slate);
    height: fit-content;
}

.mechanics {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: var(--slate);
    font-size: var(--fs-s);
    font-weight: 100;

    li {
        z-index: 10;
        list-style: none;
        margin-left: var(--m-12);
        margin-right: var(--m-12);
        margin-top: var(--m-25);
    }
}

//FLOAT LEFT

.projet-description-left {
    box-sizing: inherit;
    display: block;
}

.mechanics-left {
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--slate);
    font-size: var(--fs-s);
    font-weight: 100;
    flex-wrap: wrap;

    li {
        z-index: 10;
        list-style: none;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: var(--m-25);
    }
}

.git {
    height: 75px;

}

a {
    :hover {
        transform: scale(1.2);
    }
}

@media (max-width: 1000px) {
    .project-template {
        flex-direction: column;
        align-items: center;
    }

    .other-direction {
        flex-direction: column-reverse !important;
    }

    .featured-project-epl {
        margin-top: var(--m-25);
    }

    .project-container {
        width: 240px;
    }

    .project-picture {
        width: 240px;
        object-fit: cover;
    }

    .overlay {
        width: 240px;
    }
}