.projects {
    min-height: 100vh;
    position: relative;
    margin-left: var(--m-l);
    margin-right: var(--m-r);
}

.project-template {
    display: flex;
    justify-content: space-between;
    margin-top: var(--m-100);
}

.project-container {
    height: 250px;
    position: relative;

    :hover {
        cursor: pointer;
        opacity: 0;
    }
}

.overlay {
    position: absolute;
    height: 100%;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    z-index: 2;
    background-color: var(--navy);
    opacity: 0.35;
}

.project-picture {
    position: relative;
    border: 3px solid var(--mint);
    border-radius: 5px;
    height: 250px;
    max-width: 400px;
    object-fit: cover;
}

//FLOAT RIGHT
.projet-description {
    box-sizing: inherit;
    display: block;
    text-align: right;
}

.featured-project {
    font-weight: 300;
    margin-bottom: 5px;
    color: var(--mint);
}

h3 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: var(--fs-hl);
    color: var(--light-slate);
}

.description-text {
    font-weight: 200;
    color: var(--slate);
    height: fit-content;
}

.mechanics {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: var(--slate);
    font-size: var(--fs-s);
    font-weight: 100;

    li {
        list-style: none;
        margin-left: var(--m-12);
        margin-right: var(--m-12);
        margin-top: var(--m-25);
    }

    :hover {
        color: var(--mint);
        transform: scale(1.05);
    }
}

//FLOAT LEFT

.projet-description-left {
    box-sizing: inherit;
    display: block;
}

.mechanics-left {

    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--slate);
    font-size: var(--fs-s);
    font-weight: 100;
    flex-wrap: wrap;

    li {
        list-style: none;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: var(--m-25);
    }

    :hover {
        color: var(--mint);
        transform: scale(1.05);
    }
}

.git {
    transform: rotate(1deg);
    height: 75px;
}