<div id="contact" class="contact">

    <div class="headline head-link">
        <p class="number">04.</p>
        <p class="headline-text">Contact Me</p>
        <div class="horizontal-line-resp">
            <div></div>
            <div class="horizontal-line"></div>
        </div>
    </div>

    <div class="contact-form">
        <!--#ALERT-->
        <!--<div class="alert" #alert>
            <span>E-Mail sent!</span>
        </div>-->
        <div class="contact-description">
            <h3>Got a problem to solve?</h3>
            <p class="">Contact me through this form, I am interested in hearing you, knowing your ideas and
                contributing to your projects with my work.</p>
            <p class="need">Need a Frontend developer? Contact me!</p>
        </div>
        <!--#INPUT FORM-->
        <div>
            <form class="contact-inputs" (ngSubmit)="sendMail(contactForm)" #contactForm="ngForm">
                <!--#INPUT NAME-->
                <input type="text" id="name" class="text" placeholder="Your name" required [(ngModel)]="contact.name"
                    name="name" #name="ngModel">
                <!--#INPUT EMAIL-->
                <input type="email" id="Email" class="text" placeholder="Your e-mail" required
                    [(ngModel)]="contact.email" name="email" #email="ngModel" email="true">
                <!--#INPUT MESSAGE-->
                <textarea id="Message" rows="6" maxlength="3000" class="message"  placeholder="Your message"
                    required [(ngModel)]="contact.message" name="message" #message="ngModel"></textarea>
                <!--#SEND BUTTON-->
                <button class="btn contact-btn" #btn>Say hello !</button>
            </form>
        </div>
    </div>
</div>