<div class="socials">
    <!--#GIT-->
    <a href="https://github.com/Sneakz96" target="_blank">
        <img src="/assets/icons/delivery-folder-new/github/png-2.png"
            onmouseover="this.src='/assets/icons/delivery-folder-new/github/png.png'"
            onmouseout="this.src='/assets/icons/delivery-folder-new/github/png-2.png'" class="social-logo"
            id="github"></a>
    <!--#LINKEDIN-->
    <a href="https://www.linkedin.com/in/jahleel-heider-9a9525259/" target="_blank">
        <img src="/assets/icons/delivery-folder-new/Link/Png.png"
            onmouseover="this.src='/assets/icons/delivery-folder-new/Link/png-2.png'"
            onmouseout="this.src='/assets/icons/delivery-folder-new/Link/Png.png'" class="social-logo" id="linkeid"></a>
    <!--#XING-->
    <a href="https://www.xing.com/profile/Jahleel_RockendorfHeider/" target="_blank">
        <img src="/assets/icons/delivery-folder-new/xing/png-2.png"
            onmouseover="this.src='/assets/icons/delivery-folder-new/xing/png.png'"
            onmouseout="this.src='/assets/icons/delivery-folder-new/xing/png-2.png'" class="social-logo" id="xing"></a>
    <div class="vertical-line-resp">
        <div class="vertical-line"></div>
        <div></div>
    </div>
</div>