.home {
    height: 100vh;
    z-index: 5;
    margin-left: var(--m-l);
    margin-right: var(--m-r);
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 840px) {
        height: fit-content ;
    }
}

.hi {
    
    font-weight: 200;
    color: var(--mint);
    font-size: var(--fs-l);

    @media (max-width: 1000px) {
        margin-top: 180px;
        text-align: right;
    }
}

.name {
    font-size: var(--fs-name);
    color: var(--lightest-slate);
    margin-top: var(--m-25);

    @media (max-width:1700px) {
        font-size: 45px;
    }
}

.statement {
    font-size: 45px;
    margin-top: var(--m-12);
    color: var(--light-slate);

    @media (max-width:1700px) {
        font-size: 35px;
    }

    @media (max-width: 1000px) {
        text-align: right;
    }
}

.sub-statement {
    margin-top: var(--m-25);
    color: var(--slate);

    span {
        color: var(--mint);
    }
}

.btn-projects {
    padding: 30px;
    font-weight: 400;
    margin-top: var(--m-50);
}

@media (max-width: 420px) {
    .name {
        font-size: var(--fs-hl);
    }
}