<div class="home" id="home">
    <!--#WELCOME-->
    <p class="hi">Hi, my name is </p>
    <h1 class="name">Jahleel Rockendorf-Heider.</h1>
    <p class="statement">I'm building things for the web.</p>
    <div class="sub-statement">I’m a <span>frontend developer</span> specializing in building (and occasionally
        <br> designing) exceptional digital experiences. In the future 
        <br> I would like to support companies to bring their Ideas into real life.
    </div>
    <!--#PROJECT BUTTON-->
    <a href="#projects"><button class="btn btn-projects">Check out my projects!</button></a>
</div>